
.left img {
    border-radius: 10px;
    margin:auto;
    border-width: 2px;
    padding-bottom: 100px;
    
    
}


.debut{
    background-color:white; 
    margin-top: 90px;
    margin-left:175px; 
    height: 600px;
    width: 900px; 
    border-radius: 15px;
    padding:50px ;
    float:none; 
    justify-content: center;
    
}
.right{
    display: flex;
}
.global{
    display: flex;
}
.colonne1{
    flex:1 1  auto;
} 
.colonne2{
    flex: 1 1  auto;
} 

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:-webkit-linear-gradient(49deg,rgba(180, 20, 113, 0.932) 0% ,rgba(63, 5, 63, 0.61) 100%);
    
}
#input
{   
    padding-left:90px ;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    border:none;
    background-color: #f0dcdcca;
    
}
.Button{
    margin-top: 40px;
    margin-left: 25px;
    padding: 5px;
    background-color: #f35f1a;
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    color: #fff;
    font-size: 18px;
}
h1{
  justify-content: center;
    }
.label
{
    font-size: 18px;
    padding-top:10px ;
    margin-top:5px;
    background-color: none;
}

.left{
    padding-left:5px ;
    margin: 10px;
    padding-bottom: 35px; 
    height: 200px;
    width: 200px; 
    border-radius: 8px;
    display: block;
}


.right{
    padding-left:350px ;
    margin: 10px;
    padding-bottom: 35px; 
    height: 200px;
    width: 200px; 
    border-radius: 0px;
    background-color:none; 

}

 








/* label{
    width: 200px;
    display:  inline-block;
    vertical-align: top;
    margin: 6px;

}

input{
    width: 200px ;

select{
    width: 254px;
}
textarea{
    height: 100px;
}
input[type= checkbox] {
    width:10px;
}
input{
    background: #eaeaea; */